<?xml version='1.0' encoding='utf-8'?>
<widget id="com.alipardahouse.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Ali Parda House</name>
    <content src="index.html" />

    <!-- App Icon Path (Relative Path Fixed) -->
    <icon src="./images/icon.png" />

    <!-- Google Drive Images Access Permissions -->
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="*" />

    <platform name="android">
        <!-- Automatic Manifest Injections for Fast Network Access -->
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>

        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>
    </platform>
</widget>
